<md-sidenav style="display: inline-block"
            md-is-locked-open="$mdMedia('gt-xs')"
            md-component-id="sidenav" layout="column" layout-fill>

    <md-toolbar layout="column" layout-align="center start"
                class="md-medium-tall" layout-padding>
        <a ui-sref="home">
          <img src='http://dummyimage.com/200x55/000/fff.png'/> <!-- brand logo -->
        </a>
    </md-toolbar>

    <md-content layout="column" flex>

        <md-toolbar md-scroll-shrink class="md-toolbar-tools md-accent">
          <h2 layout='row' layout-align='space-between' flex>login area</h2>
        </md-toolbar>

        <md-list>
          <md-list-item ui-sref="positionList">
              <md-icon md-svg-src="assets/images/icons/person-pin.svg"
                class="smaller"></md-icon>
              <p>Positions</p>
          </md-list-item>

          <md-list-item ui-sref="personList">
              <md-icon md-svg-src="assets/images/icons/person.svg"
                class="smaller"></md-icon>
              <p>People</p>
          </md-list-item>

          <md-list-item ui-sref="roomList">
              <md-icon md-svg-src='assets/images/icons/room.svg'
                class="smaller"></md-icon>
              <p>Rooms</p>
          </md-list-item>

          <md-list-item ui-sref="floorList">
              <md-icon md-svg-src='assets/images/icons/floor.svg'
                class="smaller"></md-icon>
              <p>Floor</p>
          </md-list-item>


        </md-list>

        <md-divider></md-divider>

        <md-list>
           <md-list-item ui-sref="credits">
                <md-icon md-svg-src="assets/images/icons/credits.svg"
                         class="smaller"></md-icon>

                <p>Credits</p>
            </md-list-item>


            <md-list-item ui-sref="version">
                <md-icon md-svg-src="assets/images/icons/info.svg"
                         class="smaller"></md-icon>

                <p>Version</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
