<md-sidenav style="display: inline-block" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="sidenav" layout="column" layout-fill>

    <md-toolbar layout="column" layout-align="center start"
                class="md-medium-tall" layout-padding>
        <a ui-sref="home">
          <img id="logo" src="assets/images/ltb.jpg"/> <!-- brand logo -->
        </a>
    </md-toolbar>

    <md-content layout="column" flex>

        <auth></auth>

        <md-list ng-if="navCtrl.sessionUser.verified_floor_member">
          <md-list-item ui-sref="map">
              <md-icon md-svg-src="assets/images/icons/map.svg"
                class="smaller"></md-icon>
              <p>Map</p>
          </md-list-item>

          <md-list-item ui-sref="positionList">
              <md-icon md-svg-src="assets/images/icons/person-pin.svg"
                class="smaller"></md-icon>
              <p>Positions</p>
          </md-list-item>

          <md-list-item ui-sref="personList">
              <md-icon md-svg-src="assets/images/icons/person.svg"
                class="smaller"></md-icon>
              <p>People</p>
          </md-list-item>

          <md-list-item ui-sref="roomList">
              <md-icon md-svg-src="assets/images/icons/room.svg"
                class="smaller"></md-icon>
              <p>Rooms</p>
          </md-list-item>

          <md-list-item ui-sref="floorList">
              <md-icon md-svg-src="assets/images/icons/floor.svg"
                class="smaller"></md-icon>
              <p>Floor</p>
          </md-list-item>

          <md-list-item ui-sref="userList">
              <md-icon md-svg-src="assets/images/icons/user.svg"
                class="smaller"></md-icon>
              <p>Users</p>
          </md-list-item>

          <md-list-item ui-sref="pictureList">
              <md-icon md-svg-src="assets/images/icons/picture.svg"
                class="smaller"></md-icon>
              <p>Pictures</p>
          </md-list-item>

        </md-list>
        <md-divider></md-divider>

        <md-list>
           <md-list-item ui-sref="credits">
                <md-icon md-svg-src="assets/images/icons/credits.svg"
                         class="smaller"></md-icon>

                <p>Credits</p>
            </md-list-item>


            <md-list-item ui-sref="version">
                <md-icon md-svg-src="assets/images/icons/info.svg"
                         class="smaller"></md-icon>

                <p>Version</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
