<md-card>
  <form name="userUpdateForm">
    <md-card-title>
      <md-card-title-text>
        <div layout="row" >
          <md-input-container class="md-block" flex>
            <label>First Name</label>
            <input name="first_name" ng-model="vm.user.first_name" required>
            <div ng-messages="userUpdateForm.first_name.$error">
              <div ng-message="required">This field is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex>
            <label>Last Name</label>
            <input required md-no-asterisk name="last_name" ng-model="vm.user.last_name">
            <div ng-messages="userUpdateForm.last_name.$error">
              <div ng-message="required">This field is required.</div>
            </div>
          </md-input-container>
        </div>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"><img src="assets/images/angular-material.png"/></div>
      </md-card-title-media>
    </md-card-title>

    <md-content layout-padding layout-wrap>
      <md-input-container class="md-block" flex>
        <label>Role</label>
        <md-select ng-model="vm.user.role" name="role" required>
          <md-option ng-repeat="role in vm.roles" value="{{ role }}">
            {{ role }}
          </md-option>
        </md-select>
        <div ng-messages="userUpdateForm.role.$error">
          <div ng-message="required">This field is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email" name="email" required>
        <div ng-messages="userUpdateForm.email.$error">
          <div ng-message="required">This field is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>Password</label>
        <input ng-model="vm.user.password" type="password" name="password" required>
        <div ng-messages="userUpdateForm.password.$error">
          <div ng-message="required">This field is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="vm.user.verified_floor_member" name="verified" required ng-true-value="1">
          Verified Floor Member?
        </md-checkbox>
      </md-input-container>

  </md-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.updateUser()" class="md-primary">Save</md-button>
      <md-button ng-click="vm.deleteUser()" class="md-warn">{{ vm.user.delete ? "Are you sure?" : "Delete" }}</md-button>
    </md-card-actions>
  </form>
</md-card>
