<!-- search bar -->
<!-- Invite people button -->

<div layout="column" layout-align="center center">
    <table ng-if="vm.userList.length > 0">
        <thead>
            <tr>
                <th ng-click="sortColumn = 'first_name';
                              reverse = ! reverse">
                    First name
                </th>
                <th ng-click="sortColumn = 'last_name';
                              reverse = ! reverse">
                    Last name
                </th>
                <th ng-click="sortColumn = 'email';
                              reverse = ! reverse">
                    Email
                </th>
                <th ng-click="sortColumn = 'role';
                              reverse = ! reverse">
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-init="sortColumn = 'first_name'; reverse=false;">
            <tr ng-repeat="user in vm.userList | orderBy:sortColumn:reverse">
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td ng-if="user.verified_floor_member"><md-icon md-svg-src="assets/images/icons/verified.svg" class="smaller"></md-icon></td>
                <td ng-if="!user.verified_floor_member"></td>
                <td ng-if="vm.sessionUser.role === 'admin'">
                    <md-button ng-hide="user.verified_floor_member" ng-click="vm.verifyUser('verify', user)" class="md-primary">{{ user.verify ? "Are you sure?" : "Verify" }}</md-button>
                    <md-button ng-show="user.verified_floor_member" ng-click="vm.verifyUser('unverify', user)" class="md-primary">{{ user.verify ? "Are you sure?" : "Un-verify" }}</md-button>
                    <md-button ng-click="vm.editUser(user)" class="md-primary">Update</md-button>
                    <md-button ng-click="vm.deleteUser(user)" class="md-warn">{{ user.delete ? "Are you sure?" : "Delete" }}</md-button>
                </td>
                <td ng-if="vm.sessionUser.role !== 'admin'">
                    <md-button ng-click="vm.editUser(user)" ng-if="vm.sessionUser.id === user.id" class="md-primary">Update</md-button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
