<md-content class="md-padding">
  <div layout="column" flex>

    <md-card ng-repeat="person in vm.persons | orderBy:'first_name'">
      <form name="personUpdateForm">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-if='!person.edit'>{{ person.first_name + " " + person.last_name}}</span>

            <div layout="row" ng-if='person.edit'>
              <md-input-container class="md-block" flex>
                <label>First Name</label>
                <input name="first_name" ng-model="person.first_name" required>
                <div ng-messages="personUpdateForm.first_name.$error">
                  <div ng-message="required">This field is required.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex>
                <label>Last Name</label>
                <input md-maxlength="200" required md-no-asterisk name="last_name" ng-model="person.last_name">
                <div ng-messages="personUpdateForm.last_name.$error">
                  <div ng-message="required">This field is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 200 characters long.</div>
                </div>
              </md-input-container>
            </div>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"><img src="assets/images/angular-material.png"/></div>
          </md-card-title-media>
        </md-card-title>

        <md-content layout-padding layout-wrap ng-if='!person.edit'>

            <label for='start_class' class="md-title">Start Semester</label>
            <p name='start_class'>{{ person.start_class }}</p>

            <div layout="row">
                <div layout='column' flex>
                    <label for='start_semester' class="md-title">Start Semester</label>
                    <p name='start_semester'>{{ person.start_semester }}</p>
                </div>

                <div layout='column' flex>
                    <label for='end_semester' class="md-title">End Semester</label>
                    <p flex>{{ person.end_semester }}</p>
                </div>
            </div>
        </md-content>

        <md-content layout-padding layout-wrap ng-if='person.edit'>
          <md-input-container class="md-block" flex>
            <label>Start Class</label>
            <md-select ng-model="person.start_class" name="start_class" required>
              <md-option ng-repeat="class in vm.classes" value="{{class}}">
                {{class}}
              </md-option>
            </md-select>
            <div ng-messages="person.start_class.$error">
              <div ng-message="required">This field is required.</div>
            </div>
          </md-input-container>

          <div layout="row">
            <div layout="column" flex>
              <label for="end_semester_block" class="md-padding">Start Semester</label>
              <semesterpicker ng-model='person.start_semester' flex></semesterpicker>
            </div>

            <div layout="column" flex>
              <label for="end_semester_block" class="md-padding">End Semester</label>
              <semesterpicker name='end_semester_block' ng-model='person.end_semester'flex></semesterpicker>
            </div>
          </div>
        </md-content>


        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="vm.updatePerson(person)" class="md-primary">{{ person.edit ? "Save" : "Update"}}</md-button>

          <md-button ng-if='person.edit' ng-click="person.edit = false" class="md-warn">Cancel</md-button>
          <md-button ng-if='!person.edit' ng-click="vm.deletePerson(person)" class="md-warn">{{ person.delete ? "Are you sure?" : "Delete" }}</md-button>
        </md-card-actions>
      </form>
    </md-card>


    <md-card>
      <md-card-title ng-if='!vm.create'>
        <md-card-title-text layout='row' layout-align='center'>
          <md-button ng-click='vm.createPerson(person)' style='width: 15%;' class="md-headline md-raised md-primary">Create new person</md-button>
        </md-card-title-text>
      </md-card-title>

      <md-content ng-if="vm.create" layout-padding layout-wrap>
        <form name="personForm">
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>First Name</label>
              <input name="first_name" ng-model="vm.form.first_name" required>
              <div ng-messages="personForm.first_name.$error">
                <div ng-message="required">This field is required.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Last Name</label>
              <input md-maxlength="200" required md-no-asterisk name="last_name" ng-model="vm.form.last_name">
              <div ng-messages="personForm.last_name.$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 200 characters long.</div>
              </div>
            </md-input-container>
          </div>

          <md-input-container class="md-block" flex>
            <label>Start Class</label>
            <md-select ng-model="vm.form.start_class" name="start_class" required>
              <md-option ng-repeat="class in vm.classes" value="{{class}}">
                {{class}}
              </md-option>
            </md-select>
            <div ng-messages="vm.form.start_class.$error">
              <div ng-message="required">This field is required.</div>
            </div>
          </md-input-container>

          <div layout="row">
            <div layout="column" flex>
              <label for="end_semester_block" class="md-padding">Start Semester</label>
              <semesterpicker ng-model='vm.form.start_semester' flex></semesterpicker>
            </div>

            <div layout="column" flex>
              <label for="end_semester_block" class="md-padding">End Semester</label>
              <semesterpicker name='end_semester_block' ng-model='vm.form.end_semester'flex></semesterpicker>
            </div>
          </div>

          <div>
            <md-button ng-click="vm.createPerson()" class="md-primary">{{ person.create ? "Saving..." : "Create" }}</md-button>
            <md-button ng-click="vm.create = false" class="md-warn">Cancel</md-button>
          </div>
        </form>
      </md-content>
    </md-card>

  </div>
</md-content>
